In [1]:
#Desafío 1: Lectura de archivos
#Importe pandas y numpy siguiendo las convenciones.
#Lea la base de datos worldcup2014.csv y asígnela a un objeto df .
#Solicite las primeras 5 observaciones con head
import pandas as pd
import numpy as np
df=pd.read_csv ("worldcup2014.csv")
df.head(5)

,team,continent,group,group_pos,cantidad_juegos,juegos_ganados,juegos_empatados,juegos_perdidos,goles_favor,goles_contra,goles_diferencia,puntos,clasificado
0,Brazil,southamerica,A,1,3,2,1,0,7,2,5,7,1
1,Mexico,northamerica,A,2,3,2,1,0,4,1,3,7,1
2,Croatia,europe,A,3,3,1,0,2,6,6,0,3,0
3,Cameroon,africa,A,4,3,0,0,3,1,9,−8,0,0
4,Netherlands,europe,B,1,3,3,0,0,10,3,7,9,1

In [2]:
#Desafío 2: Estime las frecuencias de continent
#Utilice value_counts . Responda lo siguiente:
#¿Cuál es el continente con una mayor presencia en la muestra?
#¿Cuál es la probabilidad de elegir un equipo asiático al azar?
#¿Cuál es la probabilidad de elegir un equipo africano al azar?
df["continent"].value_counts("%")

europe          0.40625
southamerica    0.18750
africa          0.15625
asia            0.12500
northamerica    0.12500
Name: continent, dtype: float64

In [3]:
print( "El continente con mayor presencia en la muestra es Europa.", 
      "La probabilidad de elegir un equipo asiatico al azar es de 12,5%.",
     "La probabilidad de elegir un equipo africano al azar es de 15,625%.")

El continente con mayor presencia en la muestra es Europa. La probabilidad de elegir un equipo asiatico al azar es de 12,5%. La probabilidad de elegir un equipo africano al azar es de 15,625%.

In [4]:
#Desafío 3: Probabilidades por continente
#Por cada continente, genere un nuevo objeto que almacene sólo las observaciones del continente.
#tip: Para ello puede utilizar la siguiente sintáxis: df[df['variable'] == condicion] .
asia= df[df['continent'] == "asia"]

In [5]:
asia

,team,continent,group,group_pos,cantidad_juegos,juegos_ganados,juegos_empatados,juegos_perdidos,goles_favor,goles_contra,goles_diferencia,puntos,clasificado
7,Australia,asia,B,4,3,0,0,3,3,9,−6,0,0
11,Japan,asia,C,4,3,0,1,2,2,6,−4,1,0
23,Iran,asia,F,4,3,0,1,2,1,4,−3,1,0
31,South Korea,asia,H,4,3,0,1,2,3,6,−3,1,0

In [6]:
df['asia'] = np.where(df['continent'] == "asia", 1, 0)

In [7]:
for i in df['continent'].unique():
    print(i)
    df[i] = np.where(df['continent'] == i, 1, 0)

southamerica
northamerica
europe
africa
asia

In [8]:
df

,team,continent,group,group_pos,cantidad_juegos,juegos_ganados,juegos_empatados,juegos_perdidos,goles_favor,goles_contra,goles_diferencia,puntos,clasificado,asia,southamerica,northamerica,europe,africa
0,Brazil,southamerica,A,1,3,2,1,0,7,2,5,7,1,0,1,0,0,0
1,Mexico,northamerica,A,2,3,2,1,0,4,1,3,7,1,0,0,1,0,0
2,Croatia,europe,A,3,3,1,0,2,6,6,0,3,0,0,0,0,1,0
3,Cameroon,africa,A,4,3,0,0,3,1,9,−8,0,0,0,0,0,0,1
4,Netherlands,europe,B,1,3,3,0,0,10,3,7,9,1,0,0,0,1,0
5,Chile,southamerica,B,2,3,2,0,1,5,3,2,6,1,0,1,0,0,0
6,Spain,europe,B,3,3,1,0,2,4,7,−3,3,0,0,0,0,1,0
7,Australia,asia,B,4,3,0,0,3,3,9,−6,0,0,1,0,0,0,0
8,Colombia,southamerica,C,1,3,3,0,0,9,2,7,9,1,0,1,0,0,0
9,Greece,europe,C,2,3,1,1,1,2,4,−2,4,1,0,0,0,1,0
10,Ivory Coast,africa,C,3,3,1,0,2,4,5,−1,3,0,0,0,0,0,1
11,Japan,asia,C,4,3,0,1,2,2,6,−4,1,0,1,0,0,0,0
12,Costa Rica,northamerica,D,1,3,2,1,0,4,1,3,7,1,0,0,1,0,0
13,Uruguay,southamerica,D,2,3,2,0,1,4,4,0,6,1,0,1,0,0,0
14,Italy,europe,D,3,3,1,0,2,2,3,−1,3,0,0,0,0,1,0
15,England,europe,D,4,3,0,1,2,2,4,−2,1,0,0,0,0,1,0
16,France,europe,E,1,3,2,1,0,8,2,6,7,1,0,0,0,1,0
17,Switzerland,europe,E,2,3,2,0,1,7,6,1,6,1,0,0,0,1,0
18,Ecuador,southamerica,E,3,3,1,1,1,3,3,0,4,0,0,1,0,0,0
19,Honduras,northamerica,E,4,3,0,0,3,1,8,−7,0,0,0,0,1,0,0
20,Argentina,southamerica,F,1,3,3,0,0,6,3,3,9,1,0,1,0,0,0
21,Nigeria,africa,F,2,3,1,1,1,3,3,0,4,1,0,0,0,0,1
22,Bosnia and Herzegovina,europe,F,3,3,1,0,2,4,4,0,3,0,0,0,0,1,0
23,Iran,asia,F,4,3,0,1,2,1,4,−3,1,0,1,0,0,0,0
24,Germany,europe,G,1,3,2,1,0,7,2,5,7,1,0,0,0,1,0
25,United States,northamerica,G,2,3,1,1,1,4,4,0,4,1,0,0,1,0,0
26,Portugal,europe,G,3,3,1,1,1,4,7,−3,4,0,0,0,0,1,0
27,Ghana,africa,G,4,3,0,1,2,4,6,−2,1,0,0,0,0,0,1
28,Belgium,europe,H,1,3,3,0,0,4,1,3,9,1,0,0,0,1,0
29,Algeria,africa,H,2,3,1,1,1,6,5,1,4,1,0,0,0,0,1
30,Russia,europe,H,3,3,0,2,1,2,3,−1,2,0,0,0,0,1,0
31,South Korea,asia,H,4,3,0,1,2,3,6,−3,1,0,1,0,0,0,0

In [9]:
#Desafío 4: Calcule la probabilidad de clasificación a la
#siguiente ronda
#Pase todos los objetos creados en un loop que imprima la probabilidad de pasar a la siguiente
#ronda por continente.
#tip: Genere un array que contenga los objetos a pasar en el loop.
#¿Cuál fue la probabilidad de que un país asiático pase a la siguiente ronda?
#¿Cuáles fueron los dos continentes que tuvieron la mayor probabilidad de clasificar?
#¿Cuál fue la probabilidad de no clasificar un país europeo?

#for i in df['continent'].unique():
np.logical_and (df['continent']== "europe", df['clasificado']==1).value_counts()[1] / len(df[df['clasificado']==1])

0.375

In [10]:
for i in df['continent'].unique():
    print(i)
    print(len(df[np.logical_and(df[i]== 1, df['clasificado']==1)]) / len(df[df[i]==1]))

southamerica
0.8333333333333334
northamerica
0.75
europe
0.46153846153846156
africa
0.4
asia
0.0

In [11]:
print("La probabilidad de que un país asiático pase a la siguiente ronda es de 0.0%.")

La probabilidad de que un país asiático pase a la siguiente ronda es de 0.0%.

In [12]:
for i in df['continent'].unique():
    print(i)
    print(len(df[np.logical_and(df[i]== 1, df['clasificado']==1)]) / len(df['clasificado']==1))

southamerica
0.15625
northamerica
0.09375
europe
0.1875
africa
0.0625
asia
0.0

In [13]:
print("Los dos continentes que tuvieron la mayor probabilidad de clasificar son southamerica y europe.")

Los dos continentes que tuvieron la mayor probabilidad de clasificar son southamerica y europe.

Desafío 5: Refactorización
A continuación se presenta un loop que cuenta las probabilidades de juegos ganados. Se pide
que value_counts cuente los juegos no ganados y ganados, ignorando de la cantidad de
juegos.
Para ello puede utilizar np.where , que devuelve un array con valores imputados cuando se
satisface una condición. En este caso debemos clasificar como 0 cuando los juegos ganados
sean igual a 0, y 1 cuando sean igual o mayor a 1.
Este array es difícil de trabajar, por lo que pueden transformarlo con pd.Series para utilizar
value_counts .
En base a la refactorización del código, responda lo siguiente:
¿Qué continente tuvo una mayor probabilidad de ganar juegos?
¿Qué continente presentó un nivel similar entre juegos ganados y perdidos?
Utilize el código para el caso de juegos perdidos y analize el continente con una mayor
probabilidad de perder.

In [17]:
for i in df['continent'].unique():
    print(i)
    cant_ganados= (df[df[i] == 1]["juegos_ganados"].value_counts())
    cant_perdidos= (df[df[i] == 1]["juegos_perdidos"].value_counts())
    print(cant_ganados)
    print(cant_perdidos)

southamerica
2    3
3    2
1    1
Name: juegos_ganados, dtype: int64
1    3
0    3
Name: juegos_perdidos, dtype: int64
northamerica
2    2
1    1
0    1
Name: juegos_ganados, dtype: int64
0    2
3    1
1    1
Name: juegos_perdidos, dtype: int64
europe
1    6
2    3
3    2
0    2
Name: juegos_ganados, dtype: int64
2    5
1    4
0    4
Name: juegos_perdidos, dtype: int64
africa
1    3
0    2
Name: juegos_ganados, dtype: int64
2    2
1    2
3    1
Name: juegos_perdidos, dtype: int64
asia
0    4
Name: juegos_ganados, dtype: int64
2    3
3    1
Name: juegos_perdidos, dtype: int64

In [15]:
df['gano?']= pd.Series(np.where (df['juegos_ganados'] >= 1, 1,0))

In [18]:
for i in df['continent'].unique():
    print(i)
    print (len(df[(df[i]==1 & (df['gano?']==1))]))

southamerica
15
northamerica
11
europe
18
africa
10
asia
5